{% extends 'tableDataViewBase.html' %}

{%block title%}Производственные участки{%endblock%}

{% block data %}
    {%for d in data_table%}
        <tr>
            <td contenteditable='false'>{{d.id}}</td>
            <td contenteditable='false'>{{d.adress}}</td>
        </tr>
    {% endfor %}
{% endblock %}

{%block addForm%}
    <form action="{% url 'proizvAddData' %}" method="POST">
        {% csrf_token %}
        <input type="text" required placeholder="Адрес" name="adress"><br>
        <button type="submit">Добавить запись</button>
    </form>
{%endblock%}

{% block updateForm %}
     <form action="{% url 'proizvUpdateData' %}" method="POST">
        {% csrf_token %}
         <input type="text" required placeholder="id" name="update_id"><br>
        <input type="text" required placeholder="Адрес" name="adress"><br>
        <button type="submit">Обновить запись</button>
    </form>
{% endblock %}

{% block removeForm %}
    <form action="{% url 'proizvRemoveData' %}" method="POST">
        {% csrf_token %}
        <input type="text" required placeholder="id" name="remove_id"><br>
        <button type="submit">Удалить запись</button>
    </form>
{%endblock%}

{% block refresh%}<a href="{% url 'proizvRefresh' %}">Обновить таблицу</a>{% endblock %}