{% extends 'tableDataViewBase.html' %}

{%block title%}Администраторы{%endblock%}

{% block data %}
    {%for d in data_table%}
        <tr>
            <td contenteditable='false'>{{d.id}}</td>
            <td contenteditable='false'>{{d.name}}</td>
            <td contenteditable='false'>{{d.password}}</td>
            <td contenteditable='false'>{{d.birthday}}</td>
        </tr>
    {% endfor %}
{% endblock %}

{%block addForm%}
    <form action="{% url 'stanoksAddData' %}" method="POST">
        {% csrf_token %}
        <input type="text" required placeholder="Логин" name="name"><br>
        <input type="text" required placeholder="Пароль" name="password"><br>
        <input type="date" required placeholder="Дата рождения" name="birthday"><br>
        <button type="submit">Добавить запись</button>
    </form>
{%endblock%}

{% block updateForm %}
     <form action="{% url 'stanoksUpdateData' %}" method="POST">
        {% csrf_token %}
         <input type="text" required placeholder="id" name="update_id"><br>
        <input type="text" required placeholder="Логин" name="name"><br>
        <input type="text" required placeholder="Пароль" name="password"><br>
        <input type="date" required placeholder="Дата рождения" name="birthday"><br>
        <button type="submit">Обновить запись</button>
    </form>
{% endblock %}

{% block removeForm %}
    <form action="{% url 'stanoksRemoveData' %}" method="POST">
        {% csrf_token %}
        <input type="text" required placeholder="id" name="remove_id"><br>
        <button type="submit">Удалить запись</button>
    </form>
{%endblock%}