{% extends 'base.html' %}
{% block title %} Администрирование системы {% endblock %}
{% block style %}

.category-wrap {
  padding: 15px;
  background: white;
  width: 200px;
  margin: auto;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category-wrap h3 {
  font-size: 16px;
  color: rgba(0,0,0,.6);
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
}
.category-wrap h3:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #80C8A0;
  position: absolute;
  right: 5px;
  bottom: 2px;
  box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}
.category-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0,0,0,.3);
}
.category-wrap li {margin: 12px 0 0 0px;}
.category-wrap a {
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: rgba(0,0,0,.6);
  padding: 5px;
  position: relative;
  transition: .3s linear;
}
.category-wrap a:after {
  content:"\f18e";
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  color: white;
  transition: .2s linear;
}
.category-wrap a:hover {
  background: #80C8A0;
  color: white;
}

{% endblock %}
{% block content %}

    <div class="category-wrap">
    <h3>Управление пользователями</h3>
        <ul>
            <li><a href = "{% url 'skladUserDataIndex' %}"> Работники склада </a></li>
            <li><a href="{% url 'remontnikUserDataIndex' %}"> Ремонтники станков </a></li>
        </ul>
    </div>
    <div class="category-wrap">
    <h3>Управление базами данных</h3>
        <ul>
            <li><a href = "{% url 'dbbackupIndex' %}"> Бэкапы базы данных </a></li>
        </ul>
    </div>

    {% if request.user.is_superuser %}
    <div class="category-wrap">
    <h3>Управление системными администраторами</h3>
        <ul>
            <li><a href = "{% url 'adminUserDataIndex' %}"> Системные администраторы </a></li>
        </ul>
    </div>
    {% endif %}
{% endblock %}