<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{request.user.username}} {% block title %}SkladApp{% endblock %}</title>
    <style>

a.button7 {
  font-weight: 300;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 2px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

    {% block style %}{% endblock %}</style>
    <script>{%block script%}{%endblock%}</script>
</head>
<body>
<div align="right"><a href="{% url 'logout' %}" class="button7">Выход</a></div>
    {% block content %} {% endblock %}
    {% block bottom %} {% endblock %}
</body>
</html>